
#Data Science Tools and Ecosystem#

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used librairies by Data Scientists
* Complete arithmatic operations

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
* matplotlib
* scikit-learn
* pandas
* Numoy
* Pytorch

|Data Science Tools|
|------------------|
|Goolge Colabrotory|
|Jupyter Lab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python*

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [8]:
def min_to_hours(m):
   hours = m/60
   print(hours)

min = 200
min_to_hours(min)

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Kyrsten Burrows